*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #383535;
 padding: 100px;

}
a{
    color: #ffff;
    text-decoration: none;

    
   
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px  9%;
    justify-content: center;
    display: flex;

    z-index: 100;
    
}
 



 ul{
    display: flex;

   
   

}


.navbar li{
    list-style:none;
    margin-left: 30px; 
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s; 
    visibility: hidden;
    animation: eight 1s forwards;
    animation-delay: 1.2s;
  
}
@keyframes eight{
    0%{
        transform: translateX(100px);
    }
    100%{
    visibility: visible;
    transform: translateX(0px);
    
}

   
    
}
.navbar li:hover{
    color: #7cf03d;
    transform: translateY(-10px);
}
.navbar a:hover {
    color:#7cf03d;
      transform: translateY(-10px);
      
    
}
.about h1{
    transition: 5s;
    font-weight: 700;
    font-size: 40px;
   
    
    animation: one 1s forwards;
    
  
}
@keyframes one{
    0%{
        transform: translateX(100px);
    }
    100%{
    
    transform: translateX(0px);
    
}
    
  
}




.about h1:hover{
    cursor: pointer;
    color: white;
}
.about{
    text-align: center;
    color:  #7cf03d;
    
  
}

.text{
    width: 50%;

}
.img{
    width: 50%;
}
.box{
    display: flex;
    padding: 50px;
}
.about img{
    width: 60%;
    height: 100%;
    margin-left: 50px;
    border-radius: 50px;
    animation: two 1s forwards;
    
  
}
@keyframes two{
    0%{
        transform: translateX(-100px);
    }
    100%{
    
    transform: translateX(-0px);
    
}
    
    

  
}

.text p{
 color: #ffff; 
padding: 0;
 font-size: 20px; 
line-height: 30px;
 text-align: start; 
 margin-top: 20px;
}
.text p,h3{
    animation: one 1s forwards;
    
  
}
@keyframes one{
    0%{
        transform: translateX(100px);
    }
    100%{
  
    transform: translateX(0px);
    
}
}
.text h3{
    font-weight: 900;
 
    color: aqua;
    font-size: 35px;
    
   
}
.text h3 span{
    color:pink;
    white-space: nowrap;
}


@media screen and (min-width:350px) and (max-width:780px){
body{
    padding:0px 100px 100px 0px;
}
.navbar{
    position: fixed;
  
    background-color: #383535;
}
 .navbar ul{

    margin: 0px;
 }
.navbar ul li{
    margin: 5px;
  
 }
 .about{
    margin-top: 100px;
 }

    .box{
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px;
    margin-top: 30px;
 
   }
   .about h1{
    margin-left: 80px;
    font-size: 30px;
    
   }
   .img img{
    margin-right: 80px;
   }
   .text h3 span{
    font-size: 20px;
   }
   .text {
    width: 350px;
   }
   .text p{
    line-height: 25px;
    text-indent: 80px;
    padding: 10px;
   }
   .text h3{
    margin: 0px;
    font-size: 28px;
   }
   .img{
    width: 350px;
   }
   .text span{
    font-size: 15px;
   }
}