*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #383535;
    animation: slide 1s forwards;
    padding: 50px 0px 0px 0px ;
}
@keyframes slide{
0%{
    transform: translateY(-500px);
}
100%{
    transform: translateY(0px);
}
}
a{
    color: #ffff;
    text-decoration: none;

    
   
}

.navbar{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 20px  9%;
    justify-content: center;
    display: flex;

    z-index: 100;
    
}
 



 ul{
    display: flex;

   
   

}


.navbar li{
    list-style:none;
    margin-left: 30px; 
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s; 
    visibility: hidden;
    animation: eight 1s forwards;
    animation-delay: 1.2s;
  
}
@keyframes eight{
    0%{
        transform: translateX(100px);
    }
    100%{
    visibility: visible;
    transform: translateX(0px);
    
}

   
    
}
.navbar li:hover{
    color: #7cf03d;
    transform: translateY(-10px);
}
.navbar a:hover {
    color:#7cf03d;
      transform: translateY(-10px);
      
    
}
.about{
margin: 40px ;
}
.box{
    display: flex;
    padding: 50px 20px 0px 50px;
}
.about h1{
    font-weight: 900;
    font-size: 50px;
    text-align: center;
    color:  #7cf03d;
   
 

    
}

    

.box h1{
 font-size: 30px;
  color:pink;
  text-align: center;
}
.box p{
    font-size: 18px;
}

.img img{
    width: 80%;
    height:80%;
    border-radius: 50px;
    margin: 0px 0px 0px 50px;
    
    
}
.box p{
    margin: 20px 0px 0px 0px;
    color: #ffff;
    line-height: 30px;
}


@media screen and (min-width:350px) and (max-width:780px){

    .navbar{
        position: fixed;  
      
      } 
    .navbar ul{

        margin: 0px;
     }
    .navbar  ul li{
      
        margin: 5px;
     }
     
    .box{
        display: flex;
        flex-direction: column;
        padding: 0;
        width: 100%;
    
      
  
    }
    .about{
        margin: 0px;
    }
    .img img{
      margin: 0px 100px 0px 40px;
    }
    .text p{
        padding: 0px 0px 0px 20px;
    }
    .text h1{
font-size: small;
    }
  .text {
    width: 100%;
    margin-top: 30px;
}
    .about h1{
        font-size: 30px;
        margin-bottom: 20px;
    }
    
}